<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Cairo-SemiBold.ttf</string>
		<string>Cairo-Regular.ttf</string>
		<string>Cairo-Medium.ttf</string>
		<string>Cairo-Bold.ttf</string>
		<string>Cairo-Light.ttf</string>
	</array>
    <key>GIDClientID</key>
        <string>588669996312-4jm91t591o9ej3q045d7a0adbdk29vdr.apps.googleusercontent.com</string>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>com.googleusercontent.apps.588669996312-4jm91t591o9ej3q045d7a0adbdk29vdr</string>
                </array>
            </dict>
        </array>
</dict>
</plist>
